:root {
    --partbg: antiquewhite;
}
  
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--partbg);
}

.part{
    width: 75vw;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
}


.partname {
    display: flex;
    margin-top: 50px;
    position: relative;
}
  
.partname hr {
    height: 1px;
    width: 50vw;
    background-color: black;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.partname p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--partbg);
    padding: 0 1vw;
    font-size: clamp(20px, 1.75vw, 35px);
    font-weight: 900;
    text-transform: uppercase;
}


.gallery{
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 75vw;
}

.gallery img {
    border-radius: 16px;
    border: 2px solid black;
    width: 100%;
}

.img_item{
    text-align: center;
    width: 24%;
}

.gallery a{
    font-size: clamp(20px, 1.2vw, 35px);
    font-weight: 900;
    text-transform: uppercase;
    margin: auto;
    padding: 3px;
    color: black;
}

.name_img{
    z-index: 100;
    bottom: 0%;
}

.disease{
    margin-top: 7vh;
}

.plant_name{
    font-size: clamp(24px, 1.5vw, 35px);

}

.disease_name{
    display: flex;
    width: 70vw;
    margin: 3vh auto;
    font-size: clamp(10px, 1.2vw, 30px);
}

.disease_items{
    flex: 1;
}

.disease ul {
    list-style-type: none; /* Loại bỏ các dấu đầu dòng mặc định */
    padding-left: 0; /* Loại bỏ khoảng cách lề trái mặc định */
}
  
.disease ul li:before {
    content: "- "; /* Thêm dấu gạch ngang trước mỗi mục */
}

a {
    text-decoration: none; /* Loại bỏ gạch chân mặc định của liên kết */
    color: inherit; /* Giữ nguyên màu chữ mặc định */
    line-height: 2;
  }