:root {
    --partbg: antiquewhite;
}
  
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100%;
}

.main{
    background-color: var(--partbg);
    display: block;
}

.main_img img{
    width: 100%;
    
}

.part{
    width: 75vw;
    margin: 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 50vh;
    position: relative;
}

.background_test {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 50vh;
}
  
.partname {
    display: flex;
    margin-top: 50px;
    position: relative;
}
  
.partname hr {
    height: 1px;
    width: 50vw;
    background-color: black;
    border: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.partname p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--partbg);
    padding: 0 1vw;
    font-size: clamp(20px, 1.75vw, 35px);
    font-weight: 900;
    text-transform: uppercase;
}


.partcontent{
    position: relative;
    width: 50vw;
    margin: 50px auto;
}

.abtusbg{
    background-color:rgba(0, 0, 0, 0.05);
}

.abtuscontent{
    display: flex;
}

.abtusinto{
    width: 60vw;
}

.abtusinto p{
    font-size: clamp(12px, 1.5vw, 18px);
}

.abtuslogo{
    width: 40vw;
    align-items: center;
    display: flex;
    flex-direction: column;    
    justify-content: center;
}

.abtuslogo img {
    width: 20vw;
}

.abtuslogo p {
    margin-top: 10px;
    font-size: clamp(12px, 1.5vw, 18px)
}

button{
    padding: 1.5vh 1.5vw;
    border-radius: 20px;
    border: 2px solid red;
    font-size: min(2vw,2vh);
    margin-top: 1vh;
}

button:hover {
    filter: drop-shadow(0.2vh 0.2vw 1px red);
    margin-top: 0.5vh;
    font-weight: bolder;
}

button#aboutus{
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
}

button:not(#aboutus){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dictimg{
    height: 40vh;
}

.description li{
    list-style:none;
}

.description_container {
    background-color:var(--partbg);
    opacity: 0.9;
    height: 100%;
    width: 0;
    transition: width 1s;
    float: right;
    margin: 0 auto;
}

.description_container {
    width: 0%; 
    transition: width 1s;
}

.plantname{
    text-align: center;
    padding: 1vh;
    font-size: large;
}

.dictimg > .description_container li,
.plantname {
    display: none;
}
  
.dictimg:hover .description_container {
    width: 30%; 
    padding: 0 5vh;

}

.dictimg:hover> .description_container li,
.dictimg:hover .plantname {
    display: block;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: #8a8585c0;
    border-radius: 50%;
    display: inline-block;
}

.dotcontainer{
    display: flex;
}

.footer{
    background-color: black;
    width: 100%;
    min-height: 50vh;
}
